* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --mainColor: rgb(19, 177, 19);
  --titleBG: rgb(224, 221, 221);
}

.bg-gray-50 {
  background-color: var(--titleBG);
}

.text-green {
  color: var(--mainColor);
}

.p-10 {
  padding: 10px;
}

body {
  min-width: 500px;
}

.l-header nav {
  background-color: var(--mainColor);
  padding: 25px 25px;
}

.l-header nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  gap: 15px;
}

.l-header nav ul li {
  list-style-type: none;
}

.l-header nav ul li a {
  text-decoration: none;
  color: white;
}

.l-header .mobile-nav {
  display: none;
}

.l-header .mobile-nav ul {
  display: block !important;
}

.l-main {
  display: grid;
  grid-template-areas:
    "h"
    "a"
    "f";
  width: 90%;
  margin: 0 auto;
}

.l-header {
  grid-area: h;
}

.l-article {
  grid-area: a;
}

.l-footer {
  grid-area: f;
  background-color: var(--mainColor);
  padding: 15px;
  color: white;
  text-align: center;
}

.l-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.l-article__item {
  border: 1px solid var(--titleBG);
  padding: 15px 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.mt-20{
  margin-top: 20px;
}
.l-article img {
  border: 1px solid var(--titleBG);
  border-radius: 2.5px;
  max-width: 100%;
  padding: 5px;
}
